<%= render 'shared/header', title: 'Editing provider' %>

<div class="container">
  <h1 class="page-title">Editing Provider</h1>

  <%= render "form", provider: @provider %>

  <br>

  <div>
    <%= link_to "Cancel", @provider, class: 'btn btn-secondary' %>
  </div>
</div>

<%= render 'shared/footer' %>