<h1>Editing scholarship</h1>

<%= render "form", scholarship: @scholarship %>

<br>

<div>
  <%= link_to "Show this scholarship", @scholarship %> |
  <%= link_to "Back to scholarships", scholarships_path %>
</div>
