<%= render 'shared/header', title: 'Editing Scholarship' %>

<div class="container">
  <h1 class="page-title">Editing Scholarship</h1>

  <%= render "form", scholarship: @scholarship %>

  <br>

  <div>
    <%= link_to "Cancel", @scholarship, class: 'btn btn-secondary' %>
  </div>

</div>

<%= render 'shared/footer' %>