<%= render 'shared/header', title: 'Editing Client' %>

<div class="container">
  <h1 class="page-title">Editing Client</h1>

  <%= render "form", client: @client %>

  <br>

  <div>
    <%= link_to "Cancel", @client, class: 'btn btn-secondary' %>
  </div>

</div>

<%= render 'shared/footer' %>