<%= render 'shared/header', title: 'Editing Payment' %>

<div class="container">
  <h1 class="page-title">Editing Payment</h1>

  <%= render "form_edit", payment: @payment %>

  <br>

  <div>
    <%= link_to "Cancel", @payment, class: 'btn btn-secondary' %>
  </div>

</div>

<%= render 'shared/footer' %>